.blogGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .blogGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .blogGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.blogItem {
    width: 100%;
}